.book-details-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    max-width: 50%;
}

.details-title {
    text-align: center;
}

.details-author {
    text-align: center;
}

.container-details {
    padding-top: 5rem;
}

.star{
    color: yellow;
}

.container-footer {
    height: calc(100vh - 66px - 72px - 200px)
}

.card-title{
    color: cadetblue;
    font-weight: 600;
}

.card-list-button{
    margin: 1rem 0;
}
